<!DOCTYPE html>
<html lang="zh-CN">
<<<<<<< HEAD

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
</head>

=======
<head>
    <title>Webpack App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
</head>
>>>>>>> 4299aad78d0e0dd2072f53edf827a9d6b7421cc0
<body>
    <div id="app"></div>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>
<<<<<<< HEAD
</html>
=======
</html> 
>>>>>>> 4299aad78d0e0dd2072f53edf827a9d6b7421cc0
